@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Playwrite+CL+Guides&display=swap');@import url('https://fonts.googleapis.com/css2?family=Playwrite+CL+Guides&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=News+Cycle:wght@400;700&family=Playwrite+CL+Guides&display=swap');

:root {

/* Palette de couleurs */

--bleuFonce: rgba(31, 27, 77, 0.87);
--bleuMarin: rgb(11, 35, 114);
--jade: rgb(23, 123, 153);
--grisPale: rgba(255, 255, 255, 0.541);
--grisMoyen: rgb(97, 97, 97);
--charbon: rgb(24, 24, 24);
--bleuPrincipal: rgb(131, 152, 196);
--boxShadow: rgba(197, 197, 197, 0.699);
--blanc: white;
--vert: rgb(99, 197, 42);

/* Typographie */

--newsCycle: "News cycle";
--amita: "amita";

}